<!DOCTYPE html>
<html>
<head>
  <title>Ridepilot cad avl</title>
  <%= stylesheet_link_tag    "ridepilot_cad_avl/application", media: "all" %>
  <%= javascript_include_tag "ridepilot_cad_avl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
