:javascript
  // store list of stop markers
  var stop_markers = {};

  // cluster marker
  var stopMarkerCluster;
  
  // draw run stop location on map
  function drawRunStop(itin_data) {
    if(!itin_data || itin_data.length == 0) {
      return;
    }

    var itin_id = itin_data[0];
    var lat = itin_data[1];
    var lng = itin_data[2];
    var run_id = itin_data[3];
    var leg_flag = itin_data[4];
    var stats_code = itin_data[5];

    if(lat == null || lng == null) {
      return;
    }

    // define marker 
    var marker = new google.maps.Marker({
      position: {lat: lat, lng: lng},
      icon: getIcon(leg_flag),
      label: getMarkerLabel(leg_flag)
    });

    if(stopMarkerCluster) {
      stopMarkerCluster.addMarker(marker);
    } else {
      marker.setMap(map);
    }

    // save reference as need to hide marker
    if(!stop_markers[run_id]) {
      stop_markers[run_id] = [];
    }
    stop_markers[run_id].push(marker);

    marker.addListener('spider_click', function() {
      infoWindow.open(map, marker);
      infoWindow.setContent('loading...');

      //ajax request content
      requestStopInfo(itin_id);
    });

    if(infoWindow.getMap() && infoWindow.type == 'Stop' && infoWindow.itin_id == itin_id) {
      // re-load info window
      new google.maps.event.trigger( marker, 'spider_click' );
    }
  }

  function getIcon(type) {
    var icon;
    switch(type) {
      case 0:
      case 3:
        // garage 
        icon = {
          path: 'M -2,-2 2,-2 2,2 -2,2 z',
          strokeColor: 'red',
          fillColor: 'red',
          fillOpacity: 1,
          scale: 3
        };
        break;
      case 1:
        // pickup
        icon = {
          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
          strokeColor: 'blue',
          fillColor: 'blue',
          fillOpacity: 1,
          scale: 0.5,
          labelOrigin: new google.maps.Point(0, -25)
        }
        break;
      case 2:
        // dropoff
        icon = {
          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
          strokeColor: 'black',
          fillColor: 'black',
          fillOpacity: 1,
          scale: 0.5,
          labelOrigin: new google.maps.Point(0, -25)
        }
        break;
      default:
        break;
    }

    return icon;
  }

  function getMarkerLabel(type) {
    var label;
    switch(type) {
      case 0:
      case 3:
        // garage 
        label = {
          text: "G",
          fontWeight: "bold",
          fontSize: '12px',
          color: 'white'
        };
        break;
      case 1:
        // pickup
        label = {
          text: "P",
          fontWeight: "bold",
          fontSize: '10px',
          color: 'white'
        };
        break;
      case 2:
        // dropoff
        label = {
          text: "D",
          fontWeight: "bold",
          fontSize: '10px',
          color: 'white'
        };
        break;
      default:
        break;
    }

    return label;
  }

  // remove stop markers for a run
  function removeRunStops(run_id) {
    if(stop_markers[run_id] && stop_markers[run_id].length > 0) {
      stop_markers[run_id].forEach(function(marker) {
        if(stopMarkerCluster) {
          stopMarkerCluster.removeMarker(marker);
        } else {
          marker.setMap(null);
        }
      });

      delete stop_markers[run_id];
    }
  }

  function requestStopInfo(itin_id) {
    $.ajax({
      url: "#{stop_info_cad_path}",
      data: {
        itinerary_id: itin_id
      }
    });
  }