%h3
  Select Runs to Show:
.col-sm-12
  %input.selectall.run_list{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
  = 'Select All'
.col-sm-12
  %hr{style: 'margin: 4px 0px'}
- @runs.each do |run|
  .col-sm-12
    %input.run_list{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
    = run.name
.col-sm-12
  %input#all_toggle{type: 'checkbox', 'data-toggle': 'toggle', 'data-on': 'All', 'data-off': 'Incomplete Only', 'data-size': 'small', 'data-width': '125', checked: 'true'}

:javascript
  $('.selectall').click(function() {
    if ($(this).is(':checked')) {
        $('div input.run_list').prop('checked', true);
    } else {
        $('div input.run_list').prop('checked', false);
    }
  });

  $('#all_toggle').change(function() {
    if ($(this).prop('checked')){
      "#{@runs = Run.for_provider(current_provider_id).for_date(@cad_day).where(complete: [false, nil])}";
    }
  });