:css
  .run_checkboxes .run_list {
    font-weight: normal;
    display: block;
  }

  .run_list input, .select_all input {
    vertical-align: initial;
  }

  .toggle {
    float: right;
  }
%h3
  Select Runs to Show:
  %input#all_toggle{type: 'checkbox', 'data-toggle': 'toggle', 'data-on': 'All Runs', 'data-off': 'Incomplete Only', 'data-size': 'small', 'data-width': '125', checked: 'true'}
.col-sm-12  
  %label.select_all
    %input{type: 'checkbox'} 
      Select All
  %hr{style: 'margin: 0px;'}
  = render 'run_checkboxes', runs: @runs

:javascript
  $(function() {
    $(document).on('change', '.select_all input', function() {
      if ($(this).is(':checked')) {
        $('.run_list input').prop('checked', true).trigger('change');
      } else {
        $('.run_list input').prop('checked', false).trigger('change');
      }
    });

    $('#all_toggle').change(function() { 
      $('.select_all input').prop('checked', false).trigger('change');
      if ($(this).prop('checked')){
        reloadRuns(false);
      }
      else {
        reloadRuns(true);
      }
    });

    $(document).on('change', '.run_checkboxes input', function (){
      var run_id = $(this).data('run-id');

      if ($(this).is(':checked')) {
        reloadRun(run_id, true);
      } else {
        removeRun(run_id);
      }
    });
  });
  