%div.container-fluid{style: 'padding: 15px 0px 15px 0px; height: 100%;'}
  %div.panel.panel-primary{style: 'margin: 0px; height: 100%;'}
    %div.panel-heading
      %h3.panel-title
        RidePilot CAD
    %div.panel-body{style: 'width: 100%; height: 90%; position: relative; margin: 0px; padding: 0px;'}
      %div.col-xs-4
        = render :partial => 'run_selector'
        = render :partial => 'run_options'
      %div.col-xs-8{style: 'height: 100%;'}
        = render :partial => 'map'

%footer
  = render :partial => 'map_javascript'