%div.container-fluid{style: 'padding: 0px 0px 0px 0px;'}
  %div.panel-group
    %div.panel.panel-primary
      %div.panel-heading
        %h3.panel-title
          RidePilot CAD
      %div.panel-body
        %p
