- unless @itins_data.blank?
  var run_ids = #{(@run_ids || []).to_json.html_safe};
  run_ids.forEach(function(run_id) { removeRunStops(run_id); });
  
  var itins_data = #{@itins_data.to_json.html_safe};
  itins_data.forEach(function(itin_data) { drawRunStop(itin_data); });