.panel.panel-default#run_options_panel
  %table
  .caption
    %h3
      For Selected Runs, Show:
  %tr
    -# second th is for checkboxes
    %th
      %input.master-select-checkbox{type: "checkbox"}
    %th= translate_helper("run_name_column")

