:ruby
  if run.start_odometer && !run.end_odometer
    has_active_itin = true
  end

  public_itins = run.public_itineraries
  exclude_leg_ids = Itinerary.where(id: public_itins.pluck(:itinerary_id)).dropoff.joins(trip: :trip_result).where(trip_results: {code: TripResult::NON_DISPATCHABLE_CODES}).pluck(:id).uniq
  public_itins = public_itins.joins(:itinerary).where.not(itineraries: {id: exclude_leg_ids})
  
%ul.run_stops
  - stop_counter = 0
  - active_itin_found = false
  - public_itins.each do |public_itin|
    - itin = public_itin.itinerary
    - if itin
      - stop_label = itin.label
      - if itin.is_pickup? || itin.is_dropoff?
        - stop_counter += 1
        - stop_label = "#{stop_counter}. #{itin.label}"
      - is_active = has_active_itin && !itin.finish_time    
      %li.run_stop{data: {itinerary_id: itin.id,  leg_flag: itin.leg_flag, latitude: itin.address.try(:latitude), longitude: itin.address.try(:longitude)}, class: (!active_itin_found && is_active ? "active_run_stop" : "")}
        = stop_label
      - active_itin_found = true if is_active