:css
  .run_option {
    font-weight: normal;
    display: block;
  }

  .run_option input {
    vertical-align: initial;
  }

.panel.panel-default#run_options_panel
  .panel-body{style: 'padding: 5px;'}
    %h3
      For Selected Runs, Show:
    
    .col-sm-12
      %label.run_option
        %input{type: 'checkbox', checked: true}
          Upcoming Path

      %label.run_option
        %input{type: 'checkbox'}
          Prior Path

      %label.run_option
        %input{type: 'checkbox'}
          Garage, pickup and dropoff locations