var all_run_ids = getAllRunIds();
var selected_run_ids = getSelectedRunIds();
$('.run_checkboxes').replaceWith("#{ j render 'run_checkboxes', runs: @runs, expanded_run_id: params[:cad][:expanded_run_id] }");
selected_run_ids.forEach(function(run_id){ $('.run_list input[data-run-id=' + run_id +']').prop("checked", true); reloadRun(run_id); });

- if @runs.empty?
  showNoRunWarning();
- else
  hideNoRunWarning();

- if params[:is_refresh] == 'true'
  var run_ids = #{@runs.pluck(:id) || []};
  var to_remove_ids = $(all_run_ids).not(run_ids).get();
  removeRuns(to_remove_ids);
- else
  last_log_time = null;